@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

.row {
  display: flex;
  padding-left: 8rem;
  padding-right: 8rem;
  justify-content: space-around;
  margin: 0 -10px;
}

.column {
  margin: 10px;
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
  background-color: #f0f0f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.card .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 16px;
  background: #fff;
  border-radius: 0 0 20px 20px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h5,
.card h3,
.card p,
.card h4 {
  margin: 8px 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container p {
  text-align: justify;
}

.container h4 {
  margin: 10px 0;
  font-size: 1em;
  color: #ff5722;
}

.card:hover {
  box-shadow: 0 0 20px 4px rgba(255, 251, 0, 0.8);
  transform: translateY(-10px);
}

.view-btn{
  font-family: "Montserrat", sans-serif;
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.view-btn:hover{
  background-color: #3700b3;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(55, 0, 179, 0.5);
}

button {
  font-family: "Montserrat", sans-serif;
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #3700b3;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(55, 0, 179, 0.5);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}
